@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans"),
       url("../fonts/open-sans-v13-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/open-sans-v13-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/open-sans-v13-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/open-sans-v13-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/open-sans-v13-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat-Regular"),
       url("../fonts/montserrat-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/montserrat-v7-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/montserrat-v7-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/montserrat-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/montserrat-v7-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

@-ms-viewport {
  zoom: 1.0;
  width: device-width;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}

html,
body {
  font-family: Open Sans;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.mainWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.mainContent {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 40px;
  padding: 0px;
  margin: 0px;
}
.xScrollWrapper {
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 0px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: padding-top;
       -o-transition-property: padding-top;
          transition-property: padding-top;
}

@media (max-width: 767px) {
  .xScrollWrapper {
    overflow-x: auto;
  }
}
.xScrollWrapper::-webkit-scrollbar { 
  display: none;
}
.yScrollWrapper {
  display: inline-block;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  font-size: 14px;
}
.yScrollWrapper::-webkit-scrollbar { 
  display: none;
}
#backgroundImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item,
.active {
  height: 100%;
}

.nav,
.navbar .navbar-brand {
  color: #fff;
}

.navbar-brand {
  font-family: Montserrat;
  font-size: 22px;
}

.icon-bar {
  background-color: #fff;
}

.navbar-collapse.collapse.collapsing > ul.nav > li.active,
.navbar-collapse.collapse.in > ul.nav > li.active {
  border-left: 5px solid #fff;
}

.navbar-collapse.collapse.collapsing > ul.nav > li.active,
.navbar-collapse.collapse.in > ul.nav > li.active > a {
  border-bottom: none;
}

.navbar-collapse.collapse > ul.nav > li.active > a {
  border-bottom: 5px solid #fff;
  padding-bottom: 10px;
}

ul.nav > li > a {
  font-size: 16px;
  color: #fff;
}

.navbar .navbar-toggle {
  border: 1px solid #fff;
  background-color: inherit;
}

.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, .65);
}

.navbar .navbar-collapse {
  border-color: #fff;
}

.navbar .navbar-nav > li > a {
  background-color: transparent;
}

.navbar, .navbar-fixed-bottom {
  background-color: rgba(0, 0, 0, .65);
}

.navbar-fixed-top {
  border-bottom: 1px solid #fff;
}

.navbar-fixed-bottom {
  border-top: 1px solid #fff;
}

.spacer {
  height: 30px;
}

.separator {
  height: 0px;
  border-bottom: 1px solid #fff;
}
/*
.carousel-inner > .item {
  padding-top: 50px;
  padding-bottom: 39px;
}*/

.overflowHidden {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: padding-top;
       -o-transition-property: padding-top;
          transition-property: padding-top;
}

.shrink {
  padding-top: 136px;
}

.itemWrapper {
  font-weight: normal;
  padding: 15px;
  background-color: rgba(0, 0, 0, .65);
  color: #fff;
}

#goalsTitle {
  text-align: center;
  position: relative;
  font-family: Montserrat;
  height: 100%;
  font-size: 30px;
}

#goalsDescription {
  padding-left: 15px;
  padding-right: 15px;
}
#goalsDescription > div {
  font-size: 14px;
  text-align: left;
  /*text-align: justify;*/
  /*text-justify: inter-word;*/
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.rowTitle {
  text-align: center;
  padding-bottom: 10px;
  margin: 10px;
  font-family: Montserrat;
  font-size: 30px;
}

.rowImageWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  text-align: center;
}

.rowImage {
  width: 100%;
  height: auto;
}

.rowImageWrapper > a {
  outline: none
}

.leftImage, .centerImage, .rightImage {
  width: 30%;
}

.leftImage {
  float: left;
}

.rightImage {
  float: right;
}

@media screen and (min-width: 768px) {
  .modal-sm {
    width: 392px; /* New width for small modal */
  }
}

#WiFi-Graph {
  width: 45%
}

#WiFi-Probed, #WiFi-Setup {
  width: 22.5%
}

.rowDescription {
  padding-top: 10px;
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background-color: #222;
}

footer > a {
  text-decoration: none;
}

footer > a > img {
  padding: 10px;
  vertical-align:middle;
}

.imageBuffer {
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: 0px;
  right: 0px;
}

.imageBuffer > img {
  position: absolute;
}